<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        colors="true"
        bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="Vacancy">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="tests/coverage" showUncoveredFiles="true"/>
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>